@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
}

.dark ::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

.dark ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
}

::-webkit-scrollbar-button {
    display: none;
}
